<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'thanks' %}", method="POST">
    {% csrf_token %}
    <label>Имя</label>
    <input name="name">
    <label>Телефон</label>
    <input name="phone">
    <button type="submit">Отправить</button>
</form>

<br>
<br>
<br>
<br>
<br>

{% if object_list %}
<table>
    <tr>
        <th>Id</th>
        <th>Дата</th>
        <th>Имя</th>
        <th>Телефон</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.order_dt }}</th>
        <th>{{ obj.order_name }}</th>
        <th>{{ obj.order_phone }}</th>
    </tr>
    {% endfor %}
</table>
{% else %}
Нет данных
{% endif %}

</body>
</html>